<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>migrate</title>
</head>
<body>

    <form method="post" class="">
        <div class="data" style="background-color:blue;">
            <h1 style="text-align:center; color:green;">Mysql to Mongodb Migration</h1>
        </div>
        <center>
            Enter the Mysql_Database :<input type="text" name="mysql" />&nbsp;&nbsp;&nbsp;
            Enter the Mongo_Database :<input type="text" name="mongo" /><br><br>
            <input type="submit" value="Migrate" />
        </center>
    </form>
    <div></div>
</body>
</html>